<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
</head>
<body>
    <h1> Recipe Book </h1>

    <h3> 
        {{ object.name }} 
    </h3>
hihihi
   Ingredient.objects.filter(recipe__recipe__name={{object.name}}) 

    <ul>
        {% for ingredient in object.ingredients.all %}
            <li> {{ ingredient.ingredient.name }} lol </li>
        {% endfor %}
    </ul>
</body>
</html>